services:
  rabbitmq:
    image: rabbitmq:3.10-alpine
    container_name: 'rabbitmq'
    ports:
      - 5672:5672
      - 15672:15672

  celery_worker:
    &celery
    build: .
    volumes:
      - .:/code
    depends_on:
      - rabbitmq
    command:
      - "celery"
      - "-A"
      - "celery_intro"
      - "worker"
      - "--loglevel"
      - "INFO"

  celery_beat:
    << : *celery
    depends_on:
      - rabbitmq
    command:
      - "celery"
      - "-A"
      - "celery_intro"
      - "beat"
      - "--loglevel"
      - "INFO"

  celery_flower:
    <<: *celery
    depends_on:
      - rabbitmq
    ports:
      - "5555:5555"
    command:
      - "celery"
      - "-A"
      - "celery_intro"
      - "flower"

  web:
    << : *celery
    depends_on:
      -   celery_worker
    ports:
      - "8080:8000"
    command:
      - "uvicorn"
      - "celery_intro.fastapi:app"
      - "--host"
      - "0.0.0.0"
      - "--port"
      - "8000"
      - "--reload"
